<div class="content">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Groupe</label>
                    <select>
                        <option value="">Group 1</option>
                        <option value="">Group 2</option>
                        <option value="">Group 3</option>
                        <option value="">Group 4</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
