<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Chargement de documents</h4>
        </div>
        <div class="content">
            <div class="alert alert-danger" ng-show="showNotification">
                <span><b> Attention - </b> Veuillez vérifier la configuration ABBY sous paramètres avant de traiter des documents</span>
            </div>
            <form name="uploadForm" file-upload novalidate ng-show="!showNotification">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Charger vos documents</label>
                            <input type="file" class="form-control" placeholder="Documents à traiter" accept="image/tif" required multiple>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-disabled="uploadForm.$invalid" ng-click="upload()">Charger</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title">Documents numérisés</h4>
        </div>
        <div class="col-md-4 pull-right">
            <div class="form-group">
                <label>Template en utilisation</label>
                <select class="form-control" ng-model="current_template" ng-change="templateChange()">
                    <option value="template_1.xml">Template 1</option>
                    <option value="template_2.xml">Template 2</option>
                    <option value="template_3.xml">Template 3</option>
                </select>
            </div>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <th>Batch</th>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>PDF</th>
                    <th>XML</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in documents">
                        <td><i class="pe-7s-like2" aria-hidden="true" ng-if="doc.is_operation_completed"></i> {{ doc.batch }}</td>
                        <td><a href="{{ baseUrl }}/{{ doc.path }}" target="_blank">{{ doc.name }}</a></td>
                        <td>{{ doc.status }}</td>
                        <td><a href="{{ baseUrl }}/{{ doc.pdf_file }}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true" ng-if="doc.pdf_file"></i></a></td>
                        <td><a href="{{ doc.xml_file }}" target="_blank"><i class="fa fa-file-code-o" aria-hidden="true" ng-if="doc.xml_file"></i></a></td>
                        <td>
                            <button type="button" class="btn btn-success btn-fill" ng-click="ocrProcess(doc.id)">OCR</button>
                            <button type="button" class="btn btn-success btn-fill" ng-click="ladProcess(doc.id)">LAD</button>
                            <button type="button" class="btn btn-danger btn-fill" ng-click="deleteDoc(doc.id)">Supprimer</button>
                            <!--<button type="button" class="btn btn-success btn-fill" ng-click="sendToSP(doc.id)">SP</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
