<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Information du groupe</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom du Groupe</label>
                            <input type="text" class="form-control" disabled placeholder="Utilisateur" ng-model="group.name">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Configuration ABBYY</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Utilisateur</label>
                            <input type="text" class="form-control" placeholder="Utilisateur" ng-model="group.abbyy_user">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="group.abbyy_password">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Template ABBYY</h4>
        </div>
        <div class="content">
            <form class="templates" novalidate>
                <div class="row" file-upload>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><a class="tpl-link" href="{{baseUrl}}/uploads/ocr/{{ group.abbyy_template_1 }}" target="_blank"> Template 1</a> | <span class="text-info"><code style="text-transform: lowercase;">Le fichier doit être nommé template_1.xml</code></span></label>
                            <input type="file" class="form-control" ng-model="group.abbyy_template_1">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><a class="tpl-link" href="{{baseUrl}}/uploads/ocr/{{ group.abbyy_template_2 }}" target="_blank"> Template 2</a> | <span class="text-info"><code style="text-transform: lowercase;">Le fichier doit être nommé template_2.xml</code></span></label>
                            <input type="file" class="form-control" ng-model="group.abbyy_template_2">
                        </div>
                    </div>
                    <!--
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><a class="tpl-link" href="{{baseUrl}}/uploads/ocr/{{ group.abbyy_template_3 }}" target="_blank"> Template 3</a> | <span class="text-info"><code style="text-transform: lowercase;">Le fichier doit être nommé template_3.xml</code></span></label>
                            <input type="file" class="form-control" ng-model="group.abbyy_template_3">
                        </div>
                    </div>
                    -->
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="saveTemplates(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Configuration SharePoint</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Url de l'API</label>
                            <input type="text" class="form-control" placeholder="Url de l'API" ng-model="group.sp_url">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom de la librairie</label>
                            <input type="text" class="form-control" placeholder="Nom de la librairie" ng-model="group.sp_document_library_name">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Utilisateur</label>
                            <input type="text" class="form-control" placeholder="Utilisateur" ng-model="group.sp_user">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="group.sp_password">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

</div>
