<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Information du Groupe</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom du Groupe</label>
                            <input type="text" class="form-control" disabled placeholder="Utilisateur" ng-model="group.name">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Configuration ABBYY</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Utilisateur</label>
                            <input type="text" class="form-control" placeholder="Utilisateur" ng-model="group.abbyy_user">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="group.abbyy_password">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Template ABBYY</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row" file-upload>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Template 1 ({{ group.abbyy_template_1 }}) | <span class="text-info">Le fichier doit être nommé <code style="text-transform: lowercase;">template_3.xml</code></span></label>
                            <input type="file" class="form-control" placeholder="Le fichier doit être nommé template_1.xml" ng-model="group.abbyy_template_1">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Template 2 ({{ group.abbyy_template_2 }}) | <span class="text-info">Le fichier doit être nommé <code style="text-transform: lowercase;">template_2.xml</code></span></label>
                            <input type="file" class="form-control" placeholder="Le fichier doit être nommé template_2.xml" ng-model="group.abbyy_template_2">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Template 3 ({{ group.abbyy_template_3 }}) | <span class="text-info">Le fichier doit être nommé <code style="text-transform: lowercase;">template_3.xml</code></span></label>
                            <input type="file" class="form-control" placeholder="" ng-model="group.abbyy_template_3">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="saveTemplates(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Configuration Sharepoint</h4>
        </div>
        <div class="content">
            <form novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Url de l'API</label>
                            <input type="text" class="form-control" placeholder="Url" ng-model="group.sp_url">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom de la librairie</label>
                            <input type="text" class="form-control" placeholder="Url" ng-model="group.sp_document_library_name">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Utilisateur</label>
                            <input type="text" class="form-control" placeholder="Utilisateur" ng-model="group.sp_user">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="group.sp_password">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-fill pull-right" ng-click="save(group)">Enregistrer</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

</div>
