<div id="zoning-view" class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Repérage de zones</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Images à repérer</label>
                        <input type="file" class="form-control" onchange="angular.element(this).scope().onFile(this.files[0])">
                    </div>
                    <div ng-if="dataUrl">
                        <button class="btn btn-info btn-fill" ng-click="scale()">Coordonnées de la zone</button>
                        <button class="btn btn-info btn-fill" ng-click="clear()">Supprimer la séléction</button>
                        <div>
                            <xmp style="font-weight: bold;">
                                <text id="field_id" left="{{ cropZone.x }}" top="{{ cropZone.y }}" right="{{ (cropZone.x + cropZone.width ) }}" bottom="{{ (cropZone.y + cropZone.height) }}">
                            </xmp>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div ng-if="dataUrl" class="img-container">
                        <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-cropper-proxy="cropperProxy" ng-cropper-show="showEvent" ng-cropper-hide="hideEvent" ng-cropper-options="options">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
